body {
    display:flex;
    flex-direction: column;
    margin:0px;
    padding:0 0px;
}

.container {
    display:flex;
    flex-direction: column;
    flex:1;
}

.header, footer {
  background-color: #1f2937;
}

.header {
    display:flex;
    justify-content: space-around;
    align-items: baseline;
}

.header h3 {
    font-size: 24px;
    color: #f9faf9;
}

.title {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Beautiful.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.top-img {
    display:flex;
    border:2px solid red;
    align-items: center;
}

.top-img img {
    height:220px;
    width:220px;
    border-radius: 80px;
}

.sub-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    color:#f9faf9;
    font-size: 18px;
}

.sub-title h2 {
    font-size: 48px;
    color: #f9faf9;
}

.boxes {
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap: wrap;
    margin-bottom:80px;
    margin-top: 10px;
    font-size: 18px;
}

.box {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.boxes img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    height:200px;
}

.quote-txt {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding:100px 150px 50px 150px;
}

.p1 {
    display:flex;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    padding: 10px 40px 10px 40px;
    justify-content: center;
}

.p2 {
    text-align: end;
    font-size: 22px;
    margin-top:0px;
}

.bottom-txt {
    display:flex;
    margin: 80px auto;
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius: 5px;
    padding:40px;
    justify-content: space-between;
    align-items: center;
    height:auto;
}

.signup-txt {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 40px;
}

.signup-txt p {
    margin:5px;
    font-size: 20px;
}

.bottom-txt button {
    border:1px solid white;
}

footer {
    text-align: center;
    color: #f9faf9;
    font-size: 24px;
    display:flex;
    justify-content: center;
    padding: 20px;
}

button {
    width:90px;
    padding:5px 20px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
}

ul {
    display:flex;
    padding:0px;
    list-style-type: none;
    align-items: center;
    gap:10px;
}

a:any-link {
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;
}

a:hover {
    background-color:rgb(168, 142, 142);
}

.mid-txt {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
}