body {
    display:flex;
    border:5px solid red;
    flex-direction: column;
    margin:0px;
    padding:0 0px;
}

.header, .footer {
  background-color: #1f2937;
}

.header {
    display:flex;
    border:5px solid purple;
    justify-content: space-between;
    align-items: baseline;
}

.header h3 {
    font-size: 24px;
    color: #f9faf9;
}

.title {
    display: flex;
    border:5px solid green;
    background-color: #1f2937;
    justify-content: space-between;
}

.sub-title {
    display: flex;
    flex-direction: column;
}

.sub-title h2 {
    font-size: 48px;
    color: #f9faf9;
}

.boxes {
    border:5px solid cyan;
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap: wrap;
}

.box {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.boxes img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    height:250px;
}

.low-txt {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.p1 {
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    border:2px solid;
}

.p2 {
    text-align: end;
}

button {
    width:90px;
    padding:5px 20px;
    background-color: #3882f6;
    color: #e5e7eb;
}

ul {
    display:flex;
    border:1px solid blue;
    padding:0px;
    list-style-type: none;
    align-items: center;
    gap:10px;
}

a:any-link {
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;
}

a:hover {
    background-color:rgb(168, 142, 142);
}

.mid-txt {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
}